body{
    background: -webkit-gradient(radial, center center, 0, center center, 460, from(#1a82f7), to(#2F2727));

  /* Safari 5.1+, Chrome 10+ */
    background: -webkit-radial-gradient(circle, #1a82f7, #2F2727);

  /* Firefox 3.6+ */
    background: -moz-radial-gradient(circle, #1a82f7, #2F2727);

  /* IE 10 */
    background: -ms-radial-gradient(circle, #1a82f7, #2F2727);
    height:600px;
}

.container{
    width: 600px;
    margin: 0 auto;
    margin-top: 100px;
    font-size: 3em;
}

.out{
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
    color: #f63
}

.myBtn{
    padding: 20px 20px;
    font-size: 40px;
    margin-bottom: 20px;
}

.pass{
    width: 400px;
    float: left;
    font-size: 30px;
    color: #fff;
    margin-left: 0;
    padding: 20px;
    background-color: #f63;
}

.in{
    margin: 0;
    padding: 9px;
    float: right;
    text-align: center;
    background-color: #fff;
    color: #f63
}


































