body{
	background-color: cadetblue;
}

.container{
	width: 500px;
	margin: 0 auto;
	margin-top: 100px;
	height: 200px;
}
.output{
	width: 100%;
	text-align: center;
	padding: 10px;
	font-size: 30px;
	margin-bottom: 10px;
	color: forestgreen;
	border: 2px solid forestgreen;
	border-radius: 15px;
}

.myBtn{
	width: 100%;
	padding: 10px;
	font-size: 25px;
	margin-bottom: 20px;
}

.str{
	width: 300px;
	padding: 10px;
	font-size: 25px;
	float: left;
	background-color: #f63;
	color: white;
	margin-left: 20px;
	border-radius: 10px;
}

.input{
	width: 100%;
	padding: 8px;
	font-size: 25px;
	float: right;
	background-color: white;
	color: #f63;
	text-align: center;
	margin-right: 20px;
	border: 1px solid #f63;
	border-radius: 10px;
}






